﻿{% extends 'index.html' %}

{% block details %}
{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}

{% for lang in langs %}
{% language lang.language %}

{% get_current_language as LANGUAGE_CODE %}
<section id="bannerSection" style="background:url({% static 'images/banner/details.png' %}) no-repeat center center #000;">
	<div class="container">
		<h1 id="pageTitle">
			{% for detail in details %}
					{% autoescape off %}
						{{ detail.title }}
					{% endautoescape %}
			{% endfor %}
		<span class="pull-right toolTipgroup">
			<a href="#" data-placement="top" data-original-title="Find us on via facebook"><img style="width:45px" src="{% static 'images/facebook.png' %}" alt="facebook" title="facebook"></a>
			<a href="#" data-placement="top" data-original-title="Find us on via twitter"><img style="width:45px" src="{% static 'images/twitter.png' %}" alt="twitter" title="twitter"></a>
			<a href="#" data-placement="top" data-original-title="Find us on via youtube"><img style="width:45px" src="{% static 'images/youtube.png' %}" alt="youtube" title="youtube"></a>
		</span>
		</h1>
	</div>
</section>
<!-- Page banner end -->

<section id="bodySection">
	<div class="container">
		<div class="row"><br />
			<!-- Sidebar comumn -->
			<div class="span3">
				<div class="zagalovok">
					{% if submenus %}
					<h4>Menu</h4>
					<ul class="li_menu">

							{% for menu in menus %}
								{% for submenu in submenus %}
									{% if submenu.cat_id.id == menu.id %}
										<li><a href="/{{ LANG }}{{ submenu.link }}{{ menu.id}}/">{{ submenu.name }}</a></li>
									{% endif %}
								{% endfor %}
							{% endfor %}

					</ul>
					{% else %}
						{% if catmenus %}
							<h4>Menu</h4>
							<ul class="li_menu">
								{% for catmenu in catmenus %}
									<li {% if request.GET.active == catmenu.id|stringformat:"d" %}  class="test" {% endif %}><a href="/{{ LANG }}{{ catmenu.link }}?active={{ catmenu.id }}">{{ catmenu.name }}</a>
									</li>
								{% endfor %}
						{% endif %}
					{% endif %}
				</div>
			</div>

	<!-- Content will be here -->

				{% for detail in details %}
					{% autoescape off %}
						{{ detail.full_text }}
					{% endautoescape %}
				{% endfor %}
		<!-- Content END -->


		</div>
	</div>
</section>
{% endlanguage %}
{% endfor %}
{% endblock %}