{% extends 'index.html' %}

{% block home %}
{% load staticfiles %}
<section id="middleSection">
<div class="container">
	<div class="row">

		<div class="span8">
          <div class="slick_slider">
            <div class="single_iteam">
				<a href=""> <img src="{% static 'sider/img/ttt-eng.png' %} " alt="sider/img"></a>
			 </div>

			<div class="single_iteam">
			  <a href=""> <img src="{% static 'sider/img/poster-lscm-2017.jpg' %} " alt="sider/img"></a>
			</div>

			<div class="single_iteam">
			  <a href=""> <img src="{% static 'sider/img/slider_img2.jpg' %} " alt="sider/img"></a>
			</div>

			<div class="single_iteam">
			  <a href=""> <img src="{% static 'sider/img/slider_img3.jpg' %} " alt="sider/img"></a>
			</div>
          </div>
        </div>

        <div class="span4">
			<div class="latest_post">
				<h2><span>
					{% load i18n %}
					{% get_current_language as LANGUAGE_CODE %}
					{% get_available_languages as LANGUAGES %}

					{% for lang in langs %}
					{% language lang.language %}

					{% get_current_language as LANGUAGE_CODE %}

					{% trans "LatestNews" %}

				</span></h2>

				<div class="latest_post_container">

					  <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
						  <ul class="latest_postnav">
							{% if news %}
								{% for new in news %}
								  <li>
									  <div class="media">
									<a href="/news/{{ new.id }}/" class="media-left">
										{% for key in photos %}
											{% if key.id = new.id %}
												<img alt="sider/img" src="{{ key.images.0 }}">
											{% endif %}
										{% endfor %}
									</a>
									<div class="media-body">
									  <a href="/{{ LANG }}/news/{{ new.id }}/"> {{ new.title }} </a><br/><i style="font-size:10px; color: #7e7a7a; float:right;">{{ new.created|date:"c" }}</i>
									</div>
								  </div>
								  </li>
								{% endfor %}
						    {% endif %}
						  </ul>
					 <div id="next-button"><i class="fa  fa-chevron-down"></i></div>
					</div>

				</div>
			</div>
			<!-- banner -->
		<div class="span12">
					<div class="sp-container">
								<div class="sp-content">
									<div class="sp-wrap sp-left">
										<h2>
											<span class="sp-top">{% trans "In Bishkek" %} </br> 3 - 4 - 5 {% trans "April" %} </span>
											<span class="sp-mid">LSCM</span>
										</h2>
									</div>
									<div class="sp-wrap sp-right">
										<h2>
											<span class="sp-top">{% trans "International" %} <br/><br/></span>
											<span class="sp-mid">{% trans "Seminar" %}</span>
										</h2>
									</div>
								</div>
								<div class="sp-full-banner-home">
									<h2> 3 - 4 - 5 {% trans "April" %} </h2>
									<div class="heart">
										<a href="https://docs.google.com/forms/d/e/1FAIpQLSd8eKkJX5ItWjSBw0YxkQzHQvZpSlLwmimCGOAx27fjb3j6xw/viewform?c=0&w=1">{% trans "Registration" %}</a>
									</div>
								</div>
							</div>
					</div>
					<!-- end banner -->
        </div>

	</div>
</section>
<section id="sam">
	<div class="container">
		<div class="row">
			<div class="span3">
				<div class="">
					<a href="/{{ LANG }}/portfolio/"><img src="{% static 'images/RESENT.png' %}" alt="bootstrap business templates"></a>
				</div>
				<div class="kvadrat">
					<h2> <span>design</span></h2>
					<h2> <span>seo</span></h2>
					<h2> <span>development</span></h2>
					<h2> <span>consulting</span></h2>
				</div>
			</div>
			<!-- EN version -->
			{% for language in languages %}
			{% if language.id == 1 %}
			<div id="main_zag_total">

				<div class="span3">
						<div class="thumbnail" id="main_zag">
							<h4>SOFTWARE DEVELOPMENT</h4>
							<a href="/{{ LANG }}/portfolio/"><img src="{% static 'images/soft.png' %}" alt="bootstrap business templates"></a>
							<h6>We build great software to meet your needs.</h6>
							<p class="pmain">
								Weʼve build custom websites
								POS and ERP systems and other line-of-business tools
								Whether your requirements include CRM, ERP, POS, inventory management a simple website or a blog, Global Technology Solutions can help.
							</p>
							<p class="read"><a href="/{{ LANG }}/portfolio/" >Read more</a></p>
						</div>
					</div>

					<div class="span3">
						<div class="thumbnail" id="main_zag">
							<h4>IT SUPPORT</h4>
							<a href="/{{ LANG }}/details/6/"><img src="{% static 'images/it-sup.png' %}" alt="bootstrap business templates"></a>
							<h6>Do you have a server that refuses to boot?</h6>
								<p class="pmain">
									Is your workstation unable to connect to the Internet?
									Do you need a backup or disaster recovery strategy?
									We solve smaller problems, too. Contact us to learn about our technical support packages for businesses of any size.
								</p>
							<p class="read"><a href="/{{ LANG }}/details/6/" >Read more</a></p>
						</div>
					</div>

					<div class="span3">
						<div class="thumbnail" id="main_zag">
							<h4>BUSINESS CONSULTING</h4>
							<a href="/details/7/"><img src="{% static 'images/busin.png' %}" alt="bootstrap business templates"></a>
							<h6>Get in touch with us today about improving your business</h6>
							<p class="pmain">
								Whether your problem is process development or information management, we have the expertise to solve it.
								Weʼre also hosting Central Asiaʼs only regional Logistics and Supply Chain Management Conference and Seminar
							</p>
							<p class="read"><a href="/{{ LANG }}/details/7/" >Read more</a></p>
						</div>
					</div>

				</div>
			<!--- RU version -->
			{% elif language.id == 2 %}

			<div id="main_zag_total">

				<div class="span3">
					<div class="thumbnail" id="main_zag">
						<h4>РАЗРАБОТКА П.О.</h4>
						<a href="/{{ LANG }}/portfolio/"><img src="{% static 'images/soft.png' %}" alt="bootstrap business templates"></a>
						<h6>Мы разрабатываем П.О. по вашему заданию.</h6>
						<p class="pmain_ru"> Мы создаем веб-сайты, POS и ERP-системы и другие инструменты для бизнеса.
							Независимо от того, включают ли ваши требования к CRM, ERP, POS, управление запасами простой веб-сайт или блог, Global Technology Solutions поможет вам.
						</p>
						<p class="read">
							<a href="/{{ LANG }}/portfolio/">Подробнее</a>
						</p>
					</div>
				</div>

				<div class="span3">
					<div class="thumbnail" id="main_zag">
						<h4>IT ПОДДЕРЖКА</h4>
							<a href="/{{ LANG }}/portfolio/"><img src="{% static 'images/it-sup.png' %}" alt="bootstrap business templates"></a>
						<h6>У вас есть сервер, который не загружается?</h6>
							<p class="pmain_ru">
								Ваш компьютер не может подключиться к Интернету? Вам необходима стратегия резервного копирования или восстановления после аварии?
								Мы решаем такие задачи тоже. Свяжитесь с нами, чтобы узнать о пакетах услуг технической поддержки для предприятий любого размера.
							</p>
						<p class="read"><a href="/{{ LANG }}/details/28/">Подробнее</a></p>
					</div>
				</div>

				<div class="span3">
					<div class="thumbnail" id="main_zag">
						<h4 style="font-size: 13px;">БИЗНЕС-КОНСУЛЬТИРОВАНИЕ</h4>
						<a href="/{{ LANG }}/portfolio/"><img src="{% static 'images/busin.png' %}" alt="bootstrap business templates"></a>
						<h6>Снами ваш бизнес будеть расти.</h6>
						<p class="pmain_ru"> Если ваша компания замедляется в развитии мы можем проконсултировать
							по бизнесу, проектному менеджменту и логистике.Мы ускорим ваш бизнес.
						</p>
						<p class="read"><a href="/{{ LANG }}/details/29/">Подробнее</a></p>
					</div>
				</div>

			</div>

			{% endif %}
			{% endfor %}
			</div><br />
		</div>
	</div>
</section>
{% endlanguage %}
{% endfor %}
{% endblock %}
