{% extends 'index.html' %}

{% block news_archive %}
{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}

{% for lang in langs %}
{% language lang.language %}

{% get_current_language as LANGUAGE_CODE %}
<section id="bannerSection" style="background:url({% static 'images/banner/blog.png' %}) no-repeat center center #000;">
	<div class="container" >	
		<h1 id="pageTitle">{% trans "News" %}
		<span class="pull-right toolTipgroup">
			<a href="https://www.facebook.com/Global-Technology-Solutions-1673612412938569/" data-placement="top" ><img style="width:45px" src="{% static 'images/facebook.png' %}" alt="facebook" title="facebook"></a>
			<a href="#" data-placement="top" ><img style="width:45px" src="{% static 'images/twitter.png' %}" alt="twitter" title="twitter"></a>
			<a href="#" data-placement="top"><img style="width:45px" src="{% static 'images/youtube.png' %}" alt="youtube" title="youtube"></a>
		</span>
		</h1>
	</div>
</section> 
<!-- Page banner end -->
<section id="bodySection">
	<div class="container">
		<div class="row">
			<div class="news_breadcrumb"><span>GTS / News / <a href="/{{ LANG }}/archive/1/" >All News</a></span></div>
				<div class="span9">
					{% if news_archive %}
							{% for news in news_archive %}
								  <div style="height: auto;">
									  <div style="display: block; width: 50px; height: auto; background-color: #141f3d;  margin: 5px; float: left; ">
										 <span style="font-size:12px;text-transform: lowercase;  font-weight: bold; color: #fff;">{{ news.created|date:"j" }}<br/>{{ news.created|date:"M" }}</span>
									  </div>
									  <div style="text-align: left;">
										  <span style="font-weight: bold; text-transform: uppercase; color: #141f3d; text-align: left;">{{ news.title }} </span>

										  {% autoescape off %}
										  <div class="img-none" style="margin-left: 60px;">{{ news.full_text }}</div>
										  {% endautoescape off%}
								      </div>
								  </div>
							{% endfor %}
					{% endif %}
					<!-- Pagination -->
					{% if news_archive.paginator.page_range.1  %}
						<div style="float:right;">
							<ul class="news_pagination">
								{% if news_archive.has_previous %}
									<li><a href="/{{ LANG }}/archive/{{ news_archive.previous_page_number }}/">&laquo;</a> </li>
									{% if current_page > 3 %}
									<li><a href="/{{ LANG }}/archive/1/">1</a></li>
									<li><a href="">...</a></li>
									{% endif %}
								{% endif %}
									{% for page in news_archive.paginator.page_range %}
										{% if page <= to_page and from_page <= page %}
											<li {% if current_page == page %}  class="active" {% endif %}>
												{% if month %}
													<a href="/{{ LANG }}/archive/{{ page }}/{{ year }}/{{ month }}/">{{ page }}</a>
												{% else %}
													<a href="/{{ LANG }}/archive/{{ page }}/">{{ page }}</a>
												{% endif %}
											</li>
										{% endif %}
									{% endfor %}

								{% if news_archive.has_next %}
									{% if to_page < news_archive.paginator.num_pages %}
									<li><a href="">...</a></li>
									<li>
										{% if month %}
											<a href="/{{ LANG }}/archive/{{ news_archive.paginator.num_pages }}/{{ year }}/{{ month }}/" >{{ news_archive.paginator.num_pages }}</a>
										{% else %}
											<a href="/{{ LANG }}/archive/{{ news_archive.paginator.num_pages }}/" >{{ news_archive.paginator.num_pages }}</a>
										{% endif %}
									</li>
									{% endif %}
									<li>
										{% if month %}
										<a href="/{{ LANG }}/archive/{{ news_archive.next_page_number }}/{{ year }}/{{ month }}/">&raquo;</a>
										{% else %}
											<a href="/{{ LANG }}/archive/{{ news_archive.next_page_number }}/">&raquo;</a>
										{% endif %}
									</li>
								  {% endif %}
							</ul>
						</div>
					{% endif %}
				</div>

			<div class="span3">
				<!-- Carusel -->
				<div id="myCarousel" class="carousel slide blogCarousel" style="border-bottom: 1px solid #CCC;">
					<div class="carousel-inner">
						{% if photos %}
							{% for photo in photos %}
								<div  style="text-align:center"  class="item{% if 1 == forloop.counter %} active {% endif %}" >
									<a href="#" style="display:block; background:url({{ photo }}) no-repeat center center; width: 100%; height:150px; background-size: 100%; padding:2px;"></a>
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<!-- Social Icons -->
				<div id="widget_1008" class="widgetdiv">
					<a href="https://www.facebook.com/Global-Technology-Solutions-1673612412938569/" title="Facebook" style="margin-right: 10px;" target="_blank">
						<img src="{% static 'images/share/ifacebook.png' %}" height="32"></a>
					<a href="" title="Twitter" style="margin-right: 10px;" target="_blank">
						<img src="{% static 'images/share/itwitter.png' %}" height="32"></a>
					<a href="" title="Instagram" style="margin-right: 10px;" target="_blank">
						<img src="{% static 'images/share/iinstagram.png' %}" height="32"></a>
					<a href="" title="Linkedin" style="margin-right: 10px;" target="_blank">
						<img src="{% static 'images/share/ilinkedin.png' %}" height="32"></a>
					<a href="" title="Youtube" style="margin-right: 10px;" target="_blank">
						<img src="{% static 'images/share/iyoutube.png' %}" height="32"></a>
				</div>
				<!-- Archive Menu -->
				<ul id="accordion" class="accordion">
				{% regroup filter_month by created|date:"Y" as objects_by_year %}
					{% for y in objects_by_year %}
					<li>
					<div class="link"><i class="fa"></i>{{ y.grouper }}<i class="fa fa-chevron-down"></i></div>
					{% regroup filter_month by created|date:"Y-m" as objects_by_day %}
					<ul class="submenu">
					{% for d in objects_by_day %}
						{% if d.grouper|slice:":4" == y.grouper %}
							<li><a href="/{{ LANG }}/archive/1/{{ d.grouper|slice:":4" }}/{{ d.grouper|slice:"5:" }}/">
								{% for key,value in month_dic.items %}
								    {% if key == d.grouper|slice:"5:" %}
										{% trans value %}
									{% endif %}
								{% endfor %}
								</a></li>
						{% endif %}
				    {% endfor %}
					</ul>
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</section>

{% endlanguage %}
{% endfor %}
{% endblock %}
