/*!
 * Generated with CSS Flag Sprite generator (https://www.flag-sprites.com/)
 */
.temperature {
	width:24px;
	margin: 0 10px 0 10px;
}
 
.weather-table  {
	background: none;
	border:0;
	box-shadow: none;
	width: auto;
}

.weather-table tr.border_bottom td {
  border-bottom:1pt solid #EBC161;
}

.weather-table td {
	background: none;
	border :0;
	padding: 0 2px 0 2px;
	color: #EBC161;
	
}
.weather-table td span {       
    position: relative;
    margin-left: 5px;
    float: right;
    font-size: 9px;
}
.weather {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('weather.png') no-repeat;
}

.weather.weather-fine {
    background: url(icons/fine.png) no-repeat;
}
.weather.weather-fair {
    background: url(icons/fine.png) no-repeat;
}

.weather.weather-snow {
    background: url(icons/snow.png) no-repeat;
}
.weather.weather-cloudy {
    background: url(icons/cloudy.png) no-repeat;
}
.weather.weather-partly {
    background: url(icons/partly.png) no-repeat;
}
.weather.weather-isolated {
    background: url(icons/isolated.png) no-repeat;
}
.weather.weather-light  {
    background: url(icons/rain.png) no-repeat;
}
.weather.weather-thundershowers  {
    background: url(icons/thundershowers.png) no-repeat;
}
.weather.weather-rain  {
    background: url(icons/rain.png) no-repeat;
}
.weather.weather-sleet  {
    background: url(icons/sleet.png) no-repeat;
}
.weather.weather-overcast  {
    background: url(icons/cloudy.png) no-repeat;
}
.weather.weather-overcast  {
    background: url(icons/fine.png) no-repeat;
}
