/* ==== Google font ==== */


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
	/*color: #33045c !important;*/
}
/*
.footer, h4, h5{
    margin: 0 0 30px;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
	color: #fff !important;
}*/

p {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 1.6em;
}

p.lead {
	font-weight: 600;
}

a {
    color: #fff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #176e61;
}

.light {
    font-weight: 400;
}


/******************************* samat **********************/
.media-body a {
    color: #141f3d;
	font-weight: bold;
	text-align:left;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.media-body a:hover {
  color: #176e61;
  
}

 .media-left {
  width: 100px;
  height: 80px;
}

.media-left > img {
  height: 82px;
  width: 110px;
  float: left;
  margin: 0 15px 0 1px;
}

.gts_logo{
	/*background-attachment: fixed;*/
	position: relative;
	width:250px; 
	height: auto; 	
	float: left;
	margin-top: 15px;
}

.read a{
	color: #141f3d;
    background: #f1f1f1;
    padding: 4px 19px;
    border: 1px solid #141f3d;
    font-weight: bold;
	box-shadow: 0 0 1em #888888;
	display: inline-block;
    position: relative;
    margin-top: 50px;
    margin-left: 65px;
	font-size: 15px;	
}

.read a:hover{
	color: #33045c;
    background: rgba(51, 4, 92, 0.31);
    padding: 4px 19px;
    border: 1px solid #33045c;
    font-weight: bold;
}

.read_serv a{
	color: #33045c;
    background: #f1f1f1;
    padding: 8px 28px;
    border: 1px solid #33045c;
    font-weight: bold;
	box-shadow: 0 0 1em #888888;
	display: inline-block;
    position: relative;
    margin-top: 30px;
    margin-bottom: 15px;
	font-size: 15px;
}

.read_serv a:hover{
	color: #33045c;
    background: rgba(51, 4, 92, 0.31);
    padding: 8px 28px;
    border: 1px solid #33045c;
    font-weight: bold;
}


.litl{
	letter-spacing: none;
	text-transform: lowercase;
	font-size: 14px;
	height: 40px;
	border: 0px solid red;
	margin-bottom: 10px;
}

.example-image{
	width: 200px;
	height: 140px;
	/*border: 3px solid #33045c;*/
	border: 3px solid #141f3d;
	margin: 5px;
	float: left;
}	

.img_busin{
	width: 300px;
	float: left;
	margin: 20px;
}

#bodyli ul{
padding: 0;
margin: 0;
list-style: none;
width: 525px;
float: right;
}

 #bodyli{
	text-align: left;
}

 #bodyli li{
	margin: 10px;
}

 @media(max-width:480px){	
 
 .pmain_ru{
	text-align: justify;
	padding: 5px;
	color: #33045c;
	font-weight: 400;
	height: 200px !important;
	border: 0px solid red;
	font-size: 15px;
}
 
 #bodyli{
	text-align: left;
}

 #bodyli ul{
padding: 0;
margin: 0;
list-style: none;
max-width: 350px;
float: right;
}

.img_busin{
	width: 330px;
	float: left;
	margin: 20px;
}

.img_busin ul li{
	text-align: right;
}
 .img_busin {
    width: 360px;
    float: left;
    margin: 20px;
}
 
 
	.gts_logo {
		position: relative;
		width: 200px !important;
		height: auto;
		float: left;
		margin-left:20px;
		border: 1px solid yellow;
	}

 
	#gts{
		display: none;
	} 
	
.form_sty{
	border-radius: 0px;
	line-height: 3.5;
	float: right;
	margin-right: 20px;
	margin-left: 0;
}
	
	.img_f{
		width: 340px;
	}
	 
.example-image{
    width: 180px;
    border: 3px solid #33045c;
    margin: 5px;
    float: left;
}
	 
.pmain{
	text-align: justify;
	padding: 5px;
	color: #33045c;
	font-weight: 400;
	height: 170px !important;
	border: 1px solid red;
	font-size: 15px;
}
	 
	 .read a{
		color: #33045c;
		background: #f1f1f1;
		padding: 8px 20px;
		border: 1px solid #33045c;
		font-weight: bold;
		box-shadow: 0 0 1em #888888;
		display: block;
		position: absolute;
		margin-top: -55px !important;
		font-size: 15px;
		text-align: center !important;
		margin-bottom: 20px;
		width: 50%;
	}

.read a:hover{
	color: #33045c;
    background: rgba(51, 4, 92, 0.31);
    padding: 8px 20px;
    border: 1px solid #33045c;
	position: absolute;
    font-weight: bold;
	}

}

 @media(min-width:768px) and (max-width:1024px){

 #gts{
	 display: none;
 }
 
#bodyli ul{
padding: 0;
margin: 0;
list-style: none;
max-width: 505px;
float: right;
}
 
.img_busin{
	width: 460px;
	float: left;
	margin: 20px;
}
 
#goals_lecc{
	border:0px solid red; 
	width: 320px !important; 
	height: 130px !important; 
}
 
 .litl_td h5{
	text-align: center;
	margin: 0;
	padding: 1px !important;
	text-transform: capitalize;
 }
 
 .fot{
	 border: 1px solid grey;
	 width: 340px;
	 float: left;
 }
 
.kvadrat h2{
	text-align: center;
	background: #01dced;
	padding: 16px !important;
	color: #33045c;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	font-size: 17px;
	margin: 8px 0px;
}
.kvadrat h2:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
	background: #33045c;
	color: #fff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.kvadrat h2:hover, .kvadrat h2:focus, .kvadrat h2:active {
  color: #fff !important;
}
.kvadrat h2:hover:before, .kvadrat h2:focus:before, .kvadrat h2:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.04, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.04, 0.37, 0.66);
}
 
 .kvadrat{
	 border: 1px solid red;
	 float: left;
	 margin-top: -327px;
	 margin-left: 360px;
	 width: 340px;
 }
 
 #main_zag_total{
	 border: 1px solid green;
	 margin-top: 365px;
	 float: left;
	 width: 740px;
	 margin: 0px auto;
 }
 
 #main_zag_total > .span3{
	 margin-left: 20px;
	 display: table;
 }
 
  #main_zag{
	  width: 210px;
  }
   
  #main_zag	h6{
	margin: 15px 0px;
	height: 40px !important;
	text-align: center;
	text-transform: none;
  }   
  
  #main_zag	h4{
	text-transform: lowercase;
  }

.read a{
	color: #33045c;
    background: #f1f1f1;
    padding: 8px 18px;
    border: 1px solid #33045c;
    font-weight: bold;
	box-shadow: 0 0 1em #888888;
	display: table;
    margin: 0px auto;
    width: 50%;
	font-size: 14px;
	text-align: center;
	margin-top: 110px;
}

.read a:hover{
	color: #33045c;
    background: rgba(51, 4, 92, 0.31);
    padding: 8px 18px;
    border: 1px solid #33045c;
    font-weight: bold;
} 
 
 .descto{
	 height: 88px;
	 
 }
 
.litl {
    letter-spacing: none;
    text-transform: lowercase;
    font-size: 14px;
    height: 60px;
    border: 0px solid red;
    margin-bottom: 10px;
}
 
 .media-body a {
    color: #33045c;
	font-weight: bold;
	text-align:left;
	font-size: 12px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	
 }

 .media-body{
	 text-overflow:ellipsis;
	 /* white-space: nowrap; */
	 border: 1px solid green;
	 height: 65px;
 }
 
.media-body a:hover {
    color: #176e61;
}
	
 .media-left {
  width: 100px;
  height: 80px;
}

.media-left > img {
  height: 35px;
  width: 55px;
  float: left;
  margin: 0 15px 0 1px;
}

.gts_logo{
	/*background-attachment: fixed;*/
	position: relative;
	width:200px; 
	height: auto; 	
	float: left;
	} 


#main_zags h4 {
    color: #ffffff !important;
    font-weight: 600 !important;
    margin: 2px 0px 5px 0px;
    height: 25px;
    text-align: center;
    padding: 0px 0px 14px 0px;
    font-size: 13px;
    background: #33045c;
}

#main_zags p {
    height: 200px !important;
	margin-top: 20px;
}	
	 
}
/**************************************************************/

/* loader */
#preloader {
    background: #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}


#loaderInner {
    background:#ffffff url(../img/spinner.gif) center center no-repeat;
    height: 60px;
    left: 50%;
    margin: -50px 0 0 -50px;
    position: absolute;
    top: 50%;
    width: 60px;
}

@keyframes boxSpin{
  0%{
    transform: translate(-10px, 0px);
  }
  25%{
    transform: translate(10px, 10px);
  }
  50%{
    transform: translate(10px, -10px);
  }
  75%{
    transform: translate(-10px, -10px);
  }
  100%{
    transform: translate(-10px, 10px);
  }
}


@keyframes shadowSpin{
  0%{
    box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
  }
  25%{
    box-shadow: 10px 10px #39CCCC, -10px -10px #FFDC00;
  }
  50%{
    box-shadow: -10px 10px #39CCCC, 10px -10px #FFDC00;
  }
  75%{
    box-shadow: -10px -10px #39CCCC, 10px 10px #FFDC00;
  }
  100%{
    box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
  }
}

#load {
	z-index: 9999;
  background-color: #FF4136;
  opacity: 0.75;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  margin: -5px auto 0 auto;
  left: 0;
  right: 0;
  border-radius: 0px;
  border: 5px solid #FF4136;
  box-shadow: 10px 0px #39CCCC, 10px 0px #01FF70;
  animation: shadowSpin 1s ease-in-out infinite;
}

/* misc */
hr {
  margin-top: 10px;
}

/* margins */
.marginbot-0{margin-bottom:0 !important;}
.marginbot-10{margin-bottom:10px !important;}
.marginbot-20{margin-bottom:20px !important;}
.marginbot-30{margin-bottom:30px !important;}
.marginbot-40{margin-bottom:40px !important;}
.marginbot-50{margin-bottom:50px !important;}

/* ===========================
--- General sections
============================ */

.home-section {
    padding-top: 30px;
    padding-bottom: 30px;
	display:block;
    position:relative;
   /* z-index:120;*/
}


.section-heading h2 {
	font-size: 40px;
}
.section-heading i {
	margin-bottom: 20px;
}


/* --- section bg var --- */

.bg-white {
	background: #fff;
}

.bg-gray {
	#background: #f8f8f8;
}


.bg-dark {
	background: #575757;
}

/* --- section color var --- */

.text-light {
	color: #fff;
}



/* ===========================
--- Intro
============================ */
.image-slider {
	box-shadow: 0 10px 10px -10px #555;
}



.intro {
	width:100%;
	position:relative;
	
	/*background: url(../img/bg1.jpg) no-repeat top center;*/

 
}

#intro.intro {
	padding:0% 0 0 0;
	
}
.video-fon
{
   position:absolute; 
   height: 100%;      
   top: 0%;
   left: 0;
   margin: 0 auto;
   color: #fff;
   width: 100%;   
  
   z-index: 1000;
   background-color: rgba(0,0,0,0.3);
  
}	
.intro .slogan {
/*border: 1px solid red;*/
	text-align: center;
	
	/*
visibility: visible; 
overflow: hidden !important;	
position: relative;*/

}

.intro .page-scroll {
	text-align: center;
}

.brand-heading {
    font-size: 40px;
}

.intro-text {
    font-size: 18px;
}
.sloggg {
   position:absolute;
   top: 30%;
   left: 0;
   margin: 0 auto;
   background-color: none;
   color: #fff;
   width: 100%;
   height: auto;
   background-color: rgba(0,0,0,0.6);
   padding: 50px;
   z-index: 1000;
}
.sloggg h2 {
	color: #FFF;
	text-shadow: none;
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
	font-family: Montserrat, sans-serif;
	 /*   background: rgba(0, 0, 0, 0.5);*/
	text-decoration: none;
	text-transform: uppercase;
	background: none;
	border-width: 0px;
	border-color: #000;
	border-style: none;
	text-shadow: -1px 0 1px #000;
	text-align: center;
}

.sloggg h4 {
	color: #fff;
	text-shadow: -1px 1px 1px #000;
	text-align: center;
}

.intro .slogan h2 {
	color: #FFF;
	text-shadow: none;
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
	font-family: Montserrat, sans-serif;
	 /*   background: rgba(0, 0, 0, 0.5);*/
	text-decoration: none;
	text-transform: uppercase;
	background: none;
	border-width: 0px;
	border-color: #000;
	border-style: none;
	text-shadow: -1px 0 1px #000;
}

.intro .slogan h4 {
	color: #fff;
	text-shadow: -1px 1px 1px #000;
}


/* ===========================
--- About
============================ */

.boxed-grey {
	background: #f9f9f9;
	padding: 20px;
		    margin-top: 30px;  /* s */
}

.team h5 {
	margin-bottom: 10px;
}

.team p.subtitle {
	margin-bottom: 10px;
}

.avatar {
	margin-bottom: 20px;
}

.team-social {
	margin-left: 0;
	padding-left: 0;
	
}

.team-social {
	text-align: center;
}

.team-social li{
    display: inline-block;
	margin:0 !important;
	padding:0;
}


.team-social a{
	margin:0;
	padding:0;
    display: block;
	width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #3bbec0;
	color: #fff;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.team-social a i{
	text-align: center;
	margin:0;
	padding:0;
}
.team-social .social-facebook a{background: #3873ae;}
.team-social .social-twitter a{background: #62c6f8;}
.team-social .social-dribble a{background: #d74980;}
.team-social .social-deviantart a{background: #8da356;}
.team-social .social-google a{background: #000;}
.team-social .social-vimeo a{background: #51a6d3;}
.team-social .social-facebook a:hover{background: #4893ce;}
.team-social .social-twitter a:hover{background: #82e6ff;}
.team-social .social-dribble a:hover{background: #f769a0;}
.team-social .social-deviantart a:hover{background: #adc376;}
.team-social .social-google a:hover{background: #333;}
.team-social .social-vimeo a:hover{background: #71c6f3;}


/* ===========================
--- Services
============================ */

.service-icon {
	margin-bottom: 20px;
}	
/*
.service-desc{
	display: none;
	z-index: 9999;
	
}

.service-icon:hover .service-desc {
	display: block;
}

.service-desc:hover .service-icon {
	display: none;
}
*/

.ds{
	width:auto;
	height:auto;
	display: none;
}


.col-sm-17:hover .ds{
	/*background: url(edit.png);
	border: 1px solid red;*/
	background-color: rgba(0,0,0,0.7);
	color: white;
	
	display: block;	
	width: 350px;
	height: 300px;
	/*margin-top: -300px;*/
}
.col-sm-17:hover .ic{
	opacity: 0.2;
	display: none;
}
/*
.service-icon > img{
	display: none;
}

.service-icon > img:hover{
	display: block;
}	
.service-icon{
	display: none;
}

.service-icon:hover{
	display: block;
}	

*/


.portfolio-items {
margin:10px 0;
/*border: 1px solid red;*/
}

.portfolio-items li {
display:inline-block;
float:left;
list-style:none;
position:relative;
margin:10px;
}

.portfolio-items li img {
display:block;
width:320px;
height:260px;
background:#eee;
border:1px solid #fff;
border-radius:5px;
-moz-border-radius:5px;
-moz-box-shadow:0 0 5px rgba(0,0,0,0.35);
-webkit-box-shadow:0 0 5px rgba(0,0,0,0.35);
padding:6px;
margin-left: -35px;
}
/*
.pcv_button{
display:inline-block;
padding:5px 13px!important;
margin:10px 5px!important;
margin-right:0!important;
border:solid 1px #000;
float:right;
background:#7abcff;
background:-moz-linear-gradient(top,#7abcff 0,#60abf8 44%,#4096ee 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#7abcff),color-stop(44%,#60abf8),color-stop(100%,#4096ee));
background:-webkit-linear-gradient(top,#7abcff 0,#60abf8 44%,#4096ee 100%);
background:-o-linear-gradient(top,#7abcff 0,#60abf8 44%,#4096ee 100%);
background:-ms-linear-gradient(top,#7abcff 0,#60abf8 44%,#4096ee 100%);
background:linear-gradient(top,#7abcff 0,#60abf8 44%,#4096ee 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7abcff',endColorstr='#4096ee',GradientType=0);
color:#eee;
font:100% Arial,Helvetica,sans-serif;
text-align:center;
text-shadow:0 1px 0 rgba(55,121,188,.5);
text-decoration:none!important;
vertical-align:middle;zoom:1;*display:inline;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 1px 0 rgba(0,0,0,.1),inset 0 1px 0 rgba(255,255,255,.5),inset 0 -1px 0 rgba(255,255,255,.3);-moz-box-shadow:0 1px 0 rgba(0,0,0,.1),inset 0 1px 0 rgba(255,255,255,.5),inset 0 -1px 0 rgba(255,255,255,.3);box-shadow:0 1px 0 rgba(0,0,0,.1),inset 0 1px 0 rgba(255,255,255,.5),inset 0 -1px 0 rgba(255,255,255,.3)
}
.pcv_button:hover{background:#469cf2}

.pcv_button.gray{
border-color:#656565;
background:#888;
background:-moz-linear-gradient(top,#adadad 0,#707070 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#adadad),color-stop(100%,#707070));
background:-webkit-linear-gradient(top,#adadad 0,#707070 100%);
background:-o-linear-gradient(top,#adadad 0,#707070 100%);
background:-ms-linear-gradient(top,#adadad 0,#707070 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#adadad',endColorstr='#707070',GradientType=0);
background:linear-gradient(top,#adadad 0,#707070 100%);
color:#fff!important;
text-shadow:0 -1px 0 rgba(0,0,0,.3)}
.pcv_button.gray:hover{background:#adadad}
*/
.portfolio-items li div.caption14 h3{
font-weight:700;
font-size:16px;
text-transform:uppercase;
padding-bottom:5px;
margin-bottom:10px;
border-bottom:1px solid #aaa;
text-shadow:1px 1px 1px #303857;
}

.portfolio-items li div.caption14 {
display:block;
background:rgba(0,0,0,0.7);
color:#fff;
font-family:Arial,sans-serif;
font-weight:400;
font-size:11px;
position:absolute;
overflow:hidden;
text-shadow:1px 1px 1px #303857;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .3s ease-in-out;
-moz-transition:all .3s ease-in-out;
-o-transition:all .3s ease-in-out;
-ms-transition:all .3s ease-in-out;
transition:all .3s ease-in-out;
padding:10px;
}

.portfolio-items li:hover div.caption14 {
width:306px;
height:246px;
opacity:1;
filter:alpha(opacity=80);
}

.caption14 h3 {
filter:alpha(opacity=0);
opacity:0;
-webkit-transform:translateY(-200px);
-moz-transform:translateY(-200px);
-o-transform:translateY(-200px);
-ms-transform:translateY(-200px);
transform:translateY(-200px);
-webkit-transition:all .6s ease-in-out;
-moz-transition:all .6s ease-in-out;
-o-transition:all .6s ease-in-out;
-ms-transition:all .6s ease-in-out;
transition:all .6s ease-in-out;
}

.caption14 p {
filter:alpha(opacity=0);
opacity:0;
-webkit-transform:translateY(200px);
-moz-transform:translateY(200px);
-o-transform:translateY(200px);
-ms-transform:translateY(200px);
transform:translateY(200px);
-webkit-transition:all .4s ease-in-out;
-moz-transition:all .4s ease-in-out;
-o-transition:all .4s ease-in-out;
-ms-transition:all .4s ease-in-out;
transition:all .4s ease-in-out;
}

.portfolio-items li div.caption14{
bottom:7px;
right:7px;
width:26px;
height:26px;
}

.caption14 {
background-color:rgba(146,96,91,0.5);
filter:alpha(opacity=0);
opacity:0;
-webkit-transition:all .3s ease-in .4s;
-moz-transition:all .3s ease-in .4s;
-o-transition:all .3s ease-in .4s;
-ms-transition:all .3s ease-in .4s;
transition:all .3s ease-in .4s;
}

.caption14:hover h3,.caption14:hover p{
filter:alpha(opacity=100);
opacity:1;
-webkit-transform:scale(1);
-moz-transform:scale(1);
-o-transform:scale(1);
-ms-transform:scale(1);
transform:scale(1);
-webkit-transition-delay:.2s;
-moz-transition-delay:.2s;
-o-transition-delay:.2s;
-ms-transition-delay:.2s;
transition-delay:.2s;
}



/******************** Slider owl ********************************/

#owl-demo .item{
  margin: 3px;
  border: 1px solid brown;
}
#owl-demo .item img{
  display: block;
  width: 300px;
  height: auto;
}


/* ===========================
--- Contact
============================ */

form#contact-form .form-group label {
	text-align: left !important;
	display: block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
}
form#contact-form input,form#contact-form select,form#contact-form textarea {
	border-radius: 0;
	border: 1px solid #eee;
  -webkit-box-shadow: none;
          box-shadow:  none;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
.input-group-addon {
  background-color: #fefefe;
  border: 1px solid #eee;
  border-radius: 0;
}

.widget-contact {
	text-align: left;
	margin-top: 30px;
}


.company-social {
	margin-left: 0;
	padding-left: 0;
	margin-top: 10px;
}

.company-social {
	text-align: left;
}

.company-social li{
    display: inline-block;
	margin:0 !important;
	padding:0;
}


.company-social a{
	margin:0;
	padding:0;
    display: block;
	width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #3bbec0;
	color: #fff;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.company-social a i{
	text-align: center;
	margin:0;
	padding:0;
}
.company-social .social-facebook a{background: #3873ae;}
.company-social .social-twitter a{background: #62c6f8;}
.company-social .social-dribble a{background: #d74980;}
.company-social .social-deviantart a{background: #8da356;}
.company-social .social-google a{background: #000;}
.company-social .social-vimeo a{background: #51a6d3;}
.company-social .social-facebook a:hover{background: #4893ce;}
.company-social .social-twitter a:hover{background: #82e6ff;}
.company-social .social-dribble a:hover{background: #f769a0;}
.company-social .social-deviantart a:hover{background: #adc376;}
.company-social .social-google a:hover{background: #333;}
.company-social .social-vimeo a:hover{background: #71c6f3;}



/* ===========================
--- Footer
============================ */

footer {
	text-align: center;
	padding: 50px 0 ;
	
}

footer p {
	color: #f8f8f8;
}

/* ==========================
Parallax
============================= */

#parallax1{	
	background-image: url(../img/parallax/1.jpg);
}

#parallax1:after {	
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNgYGD4z0AswK4SAFXuAf8EPy+xAAAAAElFTkSuQmCC);
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	opacity: 0.7;
	z-index: -1;
}


#parallax2{	
	background-image: url(../img/parallax/2.jpg);

}

#parallax2:after  {	
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNgYGD4z0AswK4SAFXuAf8EPy+xAAAAAElFTkSuQmCC);
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	opacity: 0.7;
	z-index: -1;
}


/* ===========================
--- Elements
============================ */

.btn {
	border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle.btn-dark {
    border: 2px solid #666;
    color: #666;
}


.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle.btn-dark :hover,
.btn-circle.btn-dark :focus {
    outline: 0;
    color: #999;
    /*background: #fff;*/
}

.btn-circle.btn-dark :hover i,
.btn-circle.btn-dark :focus i{
    color: #999;
}

.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}


#text {
    color: #fff;
    background: #ffcc00;
}

#map {
	height: 500px;
}


.btn-skin:hover,
.btn-skin:focus,
.btn-skin:active,
.btn-skin.active {
  color: #fff;
  background-color: #666;
  border-color: #666;
}


.btn-default:hover,
.btn-default:focus {
    border: 1px solid #28c3ab;
    outline: 0;
    color: #000;
    background-color: #28c3ab;
}

.btn-huge {
    padding: 25px;
    font-size: 26px;
}

.banner-social-buttons {
    margin-top: 0;
}

/* Media queries */


.service-box{
	/*border: 1px solid red;*/
}
/*   effects **/
.effect-layla{
	height: 450px;
	position: relative;
}
			
figure.effect-layla {
	background: #18a367;
}
			
figure.effect-layla img{
border-radius: 200px 200px 200px 200px;
-moz-border-radius: 200px 200px 200px 200px;
-webkit-border-radius: 200px 200px 200px 200px;
border: 5px solid red;
	width: 70px;
	margin-top: -35px;
}

figure.effect-layla figcaption {
	padding: 2em;
}

figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after {
	position: absolute;
	content: '';
	opacity: 0;
}

figure.effect-layla figcaption::before {
	top: 45px;
	right: 20px;
	bottom: 30px;
	left: 20px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

figure.effect-layla figcaption::after {
	top: 35px;
	right: 30px;
	bottom: 20px;
	left: 30px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

figure.effect-layla h5 {
	margin-top: -10px;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	color: white;
	
}

figure.effect-layla p {
	padding: 5px;
	text-transform: none;
	/*opacity: 0;*/
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
	color: white;
}


figure.effect-layla span {
	text-transform: none;
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
}


figure.effect-layla img,
figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after,
figure.effect-layla p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}


figure.effect-layla:hover figcaption::before,
figure.effect-layla:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-layla:hover h2,
figure.effect-layla:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::after,
figure.effect-layla:hover h2,
figure.effect-layla:hover p,
figure.effect-layla:hover img {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}


@media screen and (max-width: 69.5em) {
	.grid figure {
		width: 50%;
		border: 1px solid red;

	}	

	.grid figure figcaption {
		font-size: 90%;
		border: 1px solid blue;
	}
}


@media screen and (max-width: 41.5em) {

	.grid figure {
		width: 100%;
	}
}
/******* Address Style ***/
.notepad, .notepad:before, .notepad:after {
  background-color: white;
  background-image: -webkit-linear-gradient(#f6abca 1px, transparent 1px), -webkit-linear-gradient(#f6abca 1px, transparent 1px), -webkit-linear-gradient(#e8e8e8 1px, transparent 1px);
  background-image: -moz-linear-gradient(#f6abca 1px, transparent 1px), -moz-linear-gradient(#f6abca 1px, transparent 1px), -moz-linear-gradient(#e8e8e8 1px, transparent 1px);
  background-image: -o-linear-gradient(#f6abca 1px, transparent 1px), -o-linear-gradient(#f6abca 1px, transparent 1px), -o-linear-gradient(#e8e8e8 1px, transparent 1px);
  background-image: linear-gradient(#f6abca 1px, transparent 1px), linear-gradient(#f6abca 1px, transparent 1px), linear-gradient(#e8e8e8 1px, transparent 1px);
  background-size: 1px 1px, 1px 1px, 23px 23px;
  background-repeat: repeat-y, repeat-y, repeat;
  background-position: 22px 0, 24px 0, 0 50px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 0 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 0 4px rgba(0, 0, 0, 0.5);
}

.notepad {
  position: relative;
  margin: 60px auto;
  padding: 0 23px 14px 35px;
  width: 100%;
  line-height: 23px;
  font-size: 11px;
  color: #666;
}
.notepad p, .notepad blockquote {
  margin-bottom: 23px;
}
.notepad :last-child {
  margin-bottom: 0;
}
.notepad:before, .notepad:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 100%;
  left: 3px;
  right: 3px;
  margin-top: -2px;
  height: 4px;
  background-size: 1px 1px, 1px 1px, 0 0;
}
.notepad:before {
  z-index: -2;
  left: 6px;
  right: 6px;
  height: 6px;
  background-color: #eee;
}

.notepad-heading {
  position: relative;
  margin: 0 -23px 14px -35px;
  height: 38px;
  background: #14466a;
  border-radius: 2px 2px 0 0;
  background-image: -webkit-linear-gradient(top, #226797, #0c3452);
  background-image: -moz-linear-gradient(top, #226797, #0c3452);
  background-image: -o-linear-gradient(top, #226797, #0c3452);
  background-image: linear-gradient(to bottom, #226797, #0c3452);
  -webkit-box-shadow: inset 0 1px #2f81ad, 0 2px 1px rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.5), 0 1px black;
  box-shadow: inset 0 1px #2f81ad, 0 2px 1px rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.5), 0 1px black;
}
.notepad-heading > h1 {
  line-height: 36px;
  font-size: 14px;
  color: white;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.7);
}
.notepad-heading:before, .notepad-heading:after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 1px;
  right: 1px;
  height: 0;
  border-top: 1px dashed #617c90;
  border-color: rgba(255, 255, 255, 0.35);
}
.notepad-heading:after {
  bottom: 3px;
  border-color: #071c2c;
  border-color: rgba(0, 0, 0, 0.5);
}

#foto{
	border: 1px solid red;
	background: url(../../team/seo.jpg);
	padding-top: 20px;
}

.section_recent{
	margin: 0px 10px 5px 0px;
	text-align: center;
	border: 1px solid #AE9999;
}

/*******************************************************/

.kvadrat h2{
	text-align: center;
	background: #01dced;
	padding: 5px;
	color: #33045c;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	font-size: 17px;
	margin: 8px 0px;
}
.kvadrat h2:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
	background: #33045c;
	color: #fff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.kvadrat h2:hover, .kvadrat h2:focus, .kvadrat h2:active {
  color: #fff !important;
}
.kvadrat h2:hover:before, .kvadrat h2:focus:before, .kvadrat h2:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.04, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.04, 0.37, 0.66);
}

/******************************************************/



.pmain{
	text-align: justify;
	padding: 5px;
	/*color: #33045c;*/
	color: #141f3d;
	font-weight: 400;
	height: 120px;
	border: 0px solid red;
	font-size: 15px;
}

.pmain_ru{
	text-align: justify;
	padding: 5px;
	/*color: #33045c;*/
	color: #141f3d;
	font-weight: 400;
	height: 145px;
	border: 0px solid red;
	font-size: 14px;
}

.td_little tbody, tr, td >p{
	margin: 0;
	font-size: 13px;
}

#td_main >td{
	background: #b0cc7f;
}

#cofe >td{
	background:#99CCFF;	
}

#launch{
	height: 20px;
}

#launch >td{
	background: #F2DBDB;	
}

#main_zag h4{
	/*color: #ffffff !important;*/
	color: #EBC161 !important;
    font-weight: 600 !important;
    margin: 2px 0px 5px 0px;
    height: 25px;
    text-align: center;
    padding: 4px 0px 0px 0px;
    font-size: 14px;
    /*background: #33045c;*/
    background: #141f3d;
}

#main_zag h6{
	/*color: #33045c !important;*/
	color: #141f3d !important;
	font-weight: 600 !important;
	margin: 15px 0px;
	height: 30px;
	text-align: center;
	text-transform: none;
}

#main_zagr h4 {
   /* color: #ffffff !important;*/
    color: #EBC161 !important;
    font-weight: 600 !important;
    margin: 2px 0px 5px 0px;
    height: 25px;
    text-align: center;
    padding: 0px 0px 14px 0px;
    font-size: 13px;
    /*background: #33045c;*/
    background: #141f3d;
}

#main_zags h4 {
    /*color: #ffffff !important;*/
    color: #EBC161 !important;
    font-weight: 600 !important;
    margin: 2px 0px 5px 0px;
    height: 25px;
    text-align: center;
    padding: 0px 0px 14px 0px;
    font-size: 13px;
    /*background: #33045c;*/
    background: #141f3d;
}

#main_zags h6 {
    font-weight: 600 !important;
    margin: 2px 0px 5px 0px;
    height: 20px;
    text-align: center;
    padding: 14px 14px 4px 14px;
    font-size: 13px;
}

#main_zags p {
    height: 80px;
    text-align: center;
    padding: 14px;
    font-size: 13px;
}

#ttt_h h5{
	text-align: center;
	margin: 0;
    padding: 5px;
}

#ttt_h img{
	/*float: left;*/
}

.img_f{
	float: left;
	margin-right: 20px;
}

.zagalovok h4{
	/*background: #33045c;*/
	background: #141f3d;
	padding: 10px 10px;
    /*border-bottom: 1px solid #33045c;*/
    border-bottom: 1px solid #141f3d;
    color: #EBC161 !important;
	margin-bottom: 10px;
}

.li_menu{
	list-style-type: none;
	text-align: left;
}

.li_menu a{
	background: #a52a2a;
	padding: 10px 10px;
	display: block;
	text-align: left;
	color: #fff !important;	
	margin: 5px 0px 5px 0px;
}

.li_menu a:hover {
    background-color: #272626;
    color: white;
}

/********************************************* lscm.php *****************************/

#goals_lecc{
	border:0px solid red; 
	width: 520px; 
	height: 120px;
}

/*********************************************************/


ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol ol {
    margin: 0 0 0 2em; /* Add some left margin for inner lists */
}
.rounded-list a{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: rgb(51, 4, 92);
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;  
	color: #fff;
	text-align: left;	
	letter-spacing: 1px;
}

.rounded-list a:hover{
    background: #eee;
	color: #33045c;
	font-weight: bold;
}

.rounded-list a:hover:before{
    transform: rotate(360deg);  
}

.rounded-list a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #33045c;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

.form_sty{
	border-radius: 0px;
	line-height: 3.5;
	float: right;
}

/*********************************************************************************

.rectangle-list a{
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;   
}

.rectangle-list a:hover{
    background: #eee;
}   

.rectangle-list a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #fa8072;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

.rectangle-list a:after{
    position: absolute; 
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;               
}

.rectangle-list a:hover:after{
    left: -.5em;
    border-left-color: #fa8072;             
}  
*****************************************/
.visit-counties {
	/*
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;*/
	display: none;
	overflow: scroll;		
}
.visit-counties > div {
	width: 100px;
	height: 150px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
	
}
.visit-counties .close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.visit-counties .close:hover { background: #00d9ff; }
.visit-counties b {
	display: none;
}
.visit-counties img {
	float: left;
	margin:5px 5px 0
}
.visit-counties span {
	display:block;
	color: #222;
}
/**** Portfolio Style **/
/* entire container, keeps perspective */
.card-container {
	  -webkit-perspective: 800px;
   -moz-perspective: 800px;
     -o-perspective: 800px;
        perspective: 800px;
        margin-bottom: 30px;
}
/* flip the pane when hovered */
.card-container:hover .card, .card-container.hover .card {
	-webkit-transform: rotateY( 180deg );
-moz-transform: rotateY( 180deg );
 -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.card-container.static:hover .card, .card-container.static.hover .card {
	-webkit-transform: none;
-moz-transform: none;
 -o-transform: none;
    transform: none;
}
/* flip speed goes here */
.card {
	 -webkit-transition: -webkit-transform .5s;
   -moz-transition: -moz-transform .5s;
     -o-transition: -o-transform .5s;
        transition: transform .5s;
-webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
     -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
     -o-backface-visibility: hidden;
        backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #FFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
		-webkit-transform: rotateY( 180deg );
   -moz-transform: rotateY( 180deg );
     -o-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
        z-index: 3;
}

/*        Style       */

.card{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 6px;
    color: #444444;
}

.card .cover {
    border-radius: 6px 6px 0 0;
    height: 250px;
    overflow: hidden;
}

.card-container, .front, .back {
	width: 100%;
	height: 345px;
	border-radius: 6px;
}

.card-container{
	height: 345px;
	float: left;
}

.card .content{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
	/*border: 1px solid #cc0000;*/
}
.card .content .main {
    height: 20px;
    border-bottom: solid 1px #CCCCCC;
}

.card .icon_mileage{
	background-image: url("icons/mileage.jpg");
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 30px;
    line-height: 25px;
}

.card .icon_fuel{
	background-image: url("icons/fuel.jpg");
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 30px;
    line-height: 25px;
}

.card .icon_gearbox{
	background-image: url("icons/gearbox.jpg");
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 30px;
    line-height: 25px;
}

.card .icon_power{
	background-image: url("icons/power.jpg");
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 30px;
    line-height: 25px;
}
.card .price{
	color: #141f3d;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	padding-top: 10px;
}

.card .title{
	text-align: center;
	padding: 10px 0 0 0;
	width: 200px;
}

.card p{
	line-height: 25px;
}
/*  hide img from news content */
.img-none img {
    display: none;
}
.img-none p {
    color: #2e3641; font-size: 14px;
}
.breadcrumb h2 {
    color: gray;
    font-size: 12px;
    text-align: left;
}
.img-none a {
    color: #2e3641;
}
.main_speek_r {
border: 1px solid blue;
margin: 0px auto;
padding: 5px;
max-width: 930px;
overflow: hidden;
height: auto;
color: #555;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px !important;
}


.left_text {
    border: 0px solid green;
    padding: 5px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
        margin-top: 5px;
}
.img_left{
    border-radius: 10px;
        -moz-border-radius:10px;
    width: 150px !important;
    height: 210px;
}
.left_con {
    border: 0px solid red;
    float: left;
    max-width: 250px;
    height: auto;
    font-family: Georgia, serif;
}
.main_speek_r {
    border: 0px solid orange;
    margin: 0px auto;
    padding: 5px;
    max-width: 930px;
    overflow: hidden;
    height: auto;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px !important;
}
.right_con {
    float: right;
    text-align: justify !important;
    border: 0px solid blue;
    padding: 10px;
    max-width: 550px;
    height: auto;
    background: #FCFCFC;
    min-width: 235px;
}
.right-names {
    display: block;
    margin-bottom: 15px;
    padding-bottom: 3px;
    color: #009CF3;
    border-bottom: 1px solid #999;
    font-family: Georgia, serif;
    font-size: 20px;
    font-style: italic;
    text-transform: uppercase;
}

.right_p {
        font-size: 14px;
}
/*** pagination **/
.news_pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    width: 100%;

}
.news_pagination > li {
    display: inline;
}
.news_pagination > li > a, .news_pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.news_pagination > li:first-child > a, .news_pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.news_pagination > .active > a, .news_pagination > .active > a:focus, .news_pagination > .active > a:hover, .news_pagination > .active > span, .news_pagination > .active > span:focus, .news_pagination > .active > span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
.news_breadcrumb {
    padding: 8px 15px;
    margin: 0 0 20px;
    list-style: none;
    background-color: #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-align: left;
}
.news_breadcrumb span {
    font-siz:14px;
    color: gray;
}
.news_breadcrumb a {
    font-siz:14px;
    color: gray;
}
.news_breadcrumb a:hover {
    color: #2e354d;
}
.widgetdiv {
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 20px;
}
.widgetdiv img {
    width: 32px;
}