body, nav, ul, li, a  {margin: 0; padding: 0;}
body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
a {text-decoration: none;}

.toggleMenu {
    display:  none;
    background: #666;
    padding: 10px 15px;
	border: 1px solid orange;
    color: #fff;
	float: right;
	margin: 0 5px 0 0;
}
.nav {
    list-style: none;
     *zoom: 1;
   /* background:#33045c;*/
    background:#141f3d;	
	float: right;
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
    width: 9em;
}
.nav a {
    padding: 15px 14px;
    /*color:#fff;*/
    color:#EBC161;
	border-right: 1px solid white;
}

.nav a :last-child {
  border-right: 1px solid #33045c;
}
.nav li {
    position: relative;
}
.nav > li {
    float: left;
    border-top: 1px solid #104336;
}
.nav > li > .parent {
 /*   background-image: url("images/downArrow.png");*/
    background-repeat: no-repeat;
    background-position: right;
}
.nav > li > a {
    display: block;
}
.nav li  ul {
    position: absolute;
    left: -9999px;
}
.nav > li.hover > ul {
    left: 0;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
}

.test{
	background: brown;
}

.nav li li a {
    display: block;
    /*background: #b95e5e;*/
    background: #141f3d;
    position: relative;
    z-index:100;
    border-top: 1px solid #175e4c;
	font-size: 12px;
	padding: 2px 5px;
}
.nav li li a:hover {
	background: #fff;
}
.nav li li li a {
    background:#b28cd4;
    z-index:200;
    border-top: 1px solid #1d7a62;
}

@media screen and (max-width: 768px) {
    .active {
        display: block;
    }
    .nav > li {
        float: none;
    }
    .nav > li > .parent {
        background-position: 95% 50%;
    }
    .nav li li .parent {
        background-image: url("images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
			.nav a{
				width: 340px;
				color: white;
			}
    .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }

}